<div ng-controller="HomeController as ctrl">
	<div id="home" class="descriptive text-center mg-top">
		<h2>Results</h2>
		<p>We compared different text mining models with different datasets in our application to see how models behave. In the first approach we used the data about movies provided in the lab,
			and with this data we created one endpoint for each machine to generate the results. We sent as a parameter the name of the dataset through a GET request to let the api know what dataset we wanted to use,
			as results we received an accuracy of 47% for TFIDF, 40% for Ngrams and 42% for Bags of Words as expected. This results showed that our machine are working well. Next we tried experimenting with a different
			dataset that we found at www.kaggle.com/datasets. This dataset is about songs lyrics and as fields it contains name, lyrics, gender and author. With this dataset we trained a model that could predict the gender
			of a song based on the lyrics.</p>
		<div class="row mg-top" ng-if="ctrl.loaded.ngrams && ctrl.loaded.tfidf && ctrl.loaded.bagwords">
			<div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="{{ctrl.percentage_movies_bagwords.accuracy}}"> <span class="percent">{{percentage_movies_bagwords.accuracy}}</span> </span>
				<h4>Bag of Words </h4>
			</div>
			<div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="{{ctrl.percentage_movies_ngrams.accuracy}}"> <span class="percent">{{ctrl.percentage_movies_ngrams.accuracy}}</span> </span>
				<h4>N-grams</h4>
			</div>
			<div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="{{ctrl.percentage_movies_TFIDF.accuracy}}"> <span class="percent">{{ctrl.percentage_movies_TFIDF.accuracy}}</span> </span>
				<h4>TFIDF</h4>
			</div>
		</div>
		<div class="row " ng-if = "!ctrl.loaded.ngrams && !ctrl.loaded.tfidf && !ctrl.loaded.bagwords">
			<a><img src="img/load.gif"></a>
			<h2>Loading</h2>
		</div>
	</div>

	<!-- Start of matrix stuff -->
		<!--<div>
			<div id="dataView"></div>
			<div style="display:inline-block; float:left" id="container"></div>
			<div style="display:inline-block; float:left" id="legend"></div>
		</div>-->
	<!--end of matrix-->

	<div id="about" class="descriptive text-center mg-top">
    <h2>About Us</h2>
    <div class="about-img">
			<img src="img/about.jpg" class="circular--square">
			<img src="img/sergio.jpg" class="circular--square">
			<img src="img/melvin.jpg" class="circular--square">
		</div>
		<div class="about-img">
			<h4> Ambar Suarez </h4>
			<h4> Sergio Hernadez </h4>
			<h4> Melvin Portillo </h4>
		</div>
		<div class="about-img">
			<p id ="a"> Frontend </p>
			<p id ="s"> Infrastructure </p>
			<p id ="m"> Backend/Frontend </p>
		</div>
  </div>

</div>
